{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>

    <body>
                
        <!-- Breadcrumb Start -->
        
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="Enter OTP">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">    
                        <div class="Enter OTP-form">
                            {% if msg %}
                                <b style="color:blue;">{{msg}}</b>
                            {% endif %}
                            <form name="otp" method="POST" action="{% url 'verify_otp' %}">
                            {% csrf_token %}
                            <div class="row">
                               <div class="col-md-12">
                                    <td><input  type="hidden" placeholder="Email" name="email" value="{{email}}"></td>
                                    <td><input  type="hidden" placeholder="OTP" name="otp" value="{{otp}}"></td>
                                     
                                </div>
                               
                                
                                <div class="col-md-12">
                                    <label>Enter OTP</label>
                                    <input class="form-control" type="number" placeholder="Enter OTP" name="uotp">
                                </div>    
                                
                                <div class="col-md-12">
                                    <button class="btn">Verify OTP</button>
                                </div>
                            </div>
                           </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </body>
</html>
{% endblock %}